*{
    box-sizing: border-box;
}

body {
	width: 1000px;
	display:flex;
	flex-direction: column;
	align-items: center;

}

#conteiner {
    width: 702px;
    display:flex;
    border: 2px solid black;
	justify-content: center;
	margin: 30px;

}

#player1, #player2 {
	width: 200px;
	border: 1px solid black;
	text-align: center;
}

#player1 p, #player2 p {
	font-size: 2em;
	width: 100%;
}

#message {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
 } 

#game {
	width:302px;
	display: flex;
	flex-wrap: wrap;
}
.game-item{
	text-align: center;
	font-size:3em;
    width: 100px;
    height: 100px;
	padding-top: 20px;
    border: 2px solid black;  
}	


#reset-game {
	font-size:1.5em;
	border: 3px solid black;
	border-radius: 20px;
	cursor: pointer;

}

.red{
	color:red;
}
		
.green{
	color:green;
}